header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand Geomatics LIVE
    button.navbar-toggler(type='button'
                          data-toggle='collapse'
                          data-target='#navbarCollapse'
                          aria-controls='navbarCollapse'
                          aria-expanded='false'
                          aria-label='Toggle navigation')
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
  
    a.btn.btn-outline-primary(href='/feedbackform') Feedback
  
  img(src='images/index_cmi_head.png' border='1')

  div.topnav
    a(href='/' class='active') Main
    a(href='/travelfacilities') Calgary Trails and Facilities
    a(href='/satwiki') Sat Wiki
    a(href='/pubarticle') Published Article 

    div.dropdown
      button.dropbtn Visited Countries
        i(class='fa fa-caret-down')
          div.dropdown-content
            a(href='/travel_cairns') Cairns AU
            a(href='/travel_noosabeach') Noosa Beach AU
            a(href='/') Cambodia  
            a(href='/') Thailand   
            a(href='/') Singapore

    div.search-container
      form(action='https://scholar.google.com/' method='get')
        input(type='text' placeholder='Google Scholar Citation' name='search')
        button(type='submit')