extends ../layout

block content
  h1 Feedback Page

  form(method="POST" style='padding:10px')
    .form-group
      label(for="nameInput") Name
      input.form-control#nameInput(
        name="name"
        type="name"
        required
        placeholder="Enter Fullname"
      )

    .form-group
      label(for="email") Email Address
      input.form-control#emailInput(
        name="email"
        type="email"
        required
        placeholder="Email Address"
      ) 

    .form-group
      label(for="feedback") Feedback
      input.form-control#feedbackInput(
        name="feedback"
        type="feedback"
        required
        placeholder="Feedback"
      )   

    button.btn.btn-primary(type="submit") Submit