extends ../layout

block content

  form(method='POST' style='padding:10px;width:900px;')
    .form-group
      label(for='nameInput') Name
      input.form-control#nameInput(
        name='name'
        type='name'
        required
        placeholder='Enter Fullname'
      )

    .form-group
      label(for='email') Email Address
      input.form-control#emailInput(
        name='email'
        type='email'
        required
        placeholder='username@server.com'
      ) 

    .form-group
      label(for='feedback') Feedback
      input.form-control#feedbackInput(
        name='feedback'
        type='feedback'
        required
        placeholder=''
      )   

    button.btn.btn-primary(type='submit') Submit